* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 8px;
    background-color: #D3D4D6FF;
  }

  ::-webkit-scrollbar-thumb {
    background: #9FA6AEFF;
    height: 8px;
    border-radius: 6px;
  }
}

body {
  font-family: 'Ubuntu', serif;
  font-weight: 500;
  font-size: 18px;
}
