@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 8px;
    background-color: $scroll-bar;
  }

  ::-webkit-scrollbar-thumb {
    background: $scroll-thumb;
    height: 8px;
    border-radius: 6px;
  }
}

body {
  font-family: 'Ubuntu', serif;
  font-weight: 500;
  font-size: 18px;

  &.lock {
    overflow: hidden;
  }
}
